<div *ngIf="hero" class="bg-white shadow rounded-lg p-4">
  <h2 class="text-xl font-bold">{{ hero.name }} Details</h2>
  <div class="text-gray-800">id: {{ hero.id }}</div>
  <div class="mt-4">
    <label for="hero-name" class="block text-gray-800 font-bold"
      >Hero name:</label
    >
    <input
      id="hero-name"
      [(ngModel)]="hero.name"
      placeholder="name"
      class="mt-1 p-2 border rounded shadow w-full"
    />
  </div>
</div>
<div *ngIf="!hero" class="bg-white shadow rounded-lg p-4 text-gray-800">
  <p>No hero selected.</p>
</div>
<button type="button" (click)="goBack()">go back</button>
