<auth-wrapper>
  <h2 class="text-2xl font-bold mb-4">Inloggen</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
    <div>
      <label class="block text-sm font-medium">{{'email' | translate}}</label>
      <input
        type="email"
        formControlName="email"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <app-error-field [inputField]="loginForm.get('email')!"/>
    </div>
    <div>
      <label class="block text-sm font-medium">Wachtwoord</label>
      <input
        type="password"
        formControlName="password"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <app-error-field [inputField]="loginForm.get('password')!"/>
    </div>

    <app-loadingbutton
    [buttonText]="'login'"
    [loadingText]="'login'"
    [form]="loginForm"
    [submitForm]="login.bind(this)"/>
  </form>
</auth-wrapper>
