<auth-wrapper>
  <h2 class="text-2xl font-bold mb-4">Inloggen</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
    <div>
      <label class="block text-sm font-medium">Email</label>
      <input
        type="email"
        formControlName="email"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        class="text-red-600 text-sm"
      >
        <div *ngIf="loginForm.get('email')?.errors?.['required']">
          Email is verplicht.
        </div>
        <div *ngIf="loginForm.get('email')?.errors?.['email']">
          Ongeldig emailadres.
        </div>
      </div>
    </div>
    <div>
      <label class="block text-sm font-medium">Wachtwoord</label>
      <input
        type="password"
        formControlName="password"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="text-red-600 text-sm"
      >
        <div *ngIf="loginForm.get('password')?.errors?.['required']">
          Wachtwoord is verplicht.
        </div>
      </div>
    </div>

    <app-loadingbutton
    [buttonText]="'Inloggen'"
    [loadingText]="'Inloggen'"
    [form]="loginForm"
    [submitForm]="login.bind(this)"/>
  </form>
</auth-wrapper>
