<h1 class="text-xl font-bold mb-2">Danger Zone</h1>
<p class="mb-4">Wees voorzichtig met de acties die je hier kunt uitvoeren. Deze acties zijn onomkeerbaar.</p>

<!-- Invite People Section -->
<div class="bg-primary-500 p-4 rounded-md mb-6">
    <h2 class="text-lg font-semibold">Mensen uitnodigen</h2>
    <form class="mt-4">
        <input type="email" placeholder="E-mailadres" class="p-2 rounded border shadow-sm w-full mb-3">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Uitnodigen
        </button>
    </form>
</div>

<!-- Delete Project Section -->
<div class="bg-red-600 p-4 rounded-md">
    <h2 class="text-lg font-semibold">Project Verwijderen</h2>
    <p class="mb-4">Let op: Het verwijderen van een project is permanent en kan niet ongedaan worden gemaakt.</p>
    <button onclick="confirmDeletion()" class="bg-red-800 hover:bg-red-900 text-white font-bold py-2 px-4 rounded">
        Project Verwijderen
    </button>
</div>