<div class="bg-primary min-h-screen flex flex-col justify-between">
    <header class="bg-primary text-white flex justify-between items-center p-4">
      <img src="assets/logo.png" alt="Logo" class="h-10">
      <button (click)="logout()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        Logout
      </button>
    </header>
    <main class="flex-grow flex justify-center items-center">
      <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-4xl">
        <ng-content></ng-content>
      </div>
    </main>
    <footer class="bg-gray-800 text-white text-center p-4">
      Klup
    </footer>
  </div>
  