<app-modal *ngIf="currentUser$ | async as currentUser" title="project.create" [form]="createProjectForm"
  [showModal]="showModal" [submitFunction]="addProject.bind(this, currentUser.id)"
  (showModalChange)="showModalChange.next($event)">
  <form [formGroup]="createProjectForm" (ngSubmit)="this.addProject(currentUser.id)">
    <label class="block text-sm font-medium">Projectnaam</label>
    <input type="text" formControlName="projectName"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    <app-error-field [inputField]="createProjectForm.get('projectName')!" />
  </form>
</app-modal>